*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.paragrafos{
    margin-top: 16px;
    color: #868E96;
    margin-bottom: 7px;
    font-size: 14px;
}

.cardsClass{
    height: 397px;
    width: 303px;
    background-color: aliceblue;
    margin: 10px;
}

#vitrine{
    margin-left: 116px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.imgDaVitrine{
    width: 300px;
    height: 200px;
}

.divInferiorBtnPreco{
    /* margin-top:27px ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnDeConpra{
    background-color: #E4F7EF;
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

main{
    display:flex ;
}

#topoCarrinho{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: white;
    width: 320px;
    height: 56px;
    background-color: #FF2253;
}

#copoDoCarrinho{
    width: 320px;
    height: 296px;
    background-color: green;
}